---
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";

export interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const postResult = posts.map((post) => ({
    params: { slug: slugify(post.data) },
    props: { post },
  }));

  return [...postResult];
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { title, author, description, pubDatetime } = post.data;
const { Content } = await post.render();
---

<BaseLayout pageTitle={title}>
  <article>
    <h1>{title}</h1>
    <Content />
  </article>
</BaseLayout>
