---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";

const posts = await getCollection("blog");

const sortedPosts = posts
  .filter(({ data }) => !data.draft)
  .sort(
    (a, b) =>
      Math.floor(new Date(b.data.date).getTime() / 1000) -
      Math.floor(new Date(a.data.date).getTime() / 1000)
  )
  .slice(0, SITE.postPerPage);
---

<BaseLayout pageTitle="Blog">
  <ul>
    {
      sortedPosts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
  <Pagination currentPage={1} total={2} />
</BaseLayout>
