---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTite = "Home";
---

<BaseLayout pageTitle={pageTite}>
  <article>
    <h1>An Article on the Homepage</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, libero. Quasi nihil nulla adipisci a autem hic provident eos soluta quia numquam? Eum aliquam exercitationem cupiditate consequuntur minima aspernatur vero!</p>
  </article>
</BaseLayout>
